In [1]:
import pandas as pd

import numpy as np

In [3]:
import numpy as np

data=pd.read_csv("C:\\Users\\GOKUL S\\Downloads\\IRIS.csv")

In [4]:
data=pd.read_csv("C:\\Users\\GOKUL S\\Downloads\\IRIS.csv")

In [5]:
data

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:
data['species'],_ = pd.factorize(data['species'])
data['species']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le=LabelEncoder()

In [11]:
data['species']=le.fit_transform(data['species'])

In [12]:
data['species']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [13]:
from sklearn.linear_model import LogisticRegression

In [18]:
from sklearn.model_selection import train_test_split as tts

In [14]:
le=LogisticRegression()

In [20]:
y=data['species']
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [27]:
x=data.drop('species',axis=1)
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [28]:
x_train,x_test,y_train,y_test=tts(x,y,test_size=0.25,random_state=50)
x_test

     sepal_length  sepal_width  petal_length  petal_width
88            5.6          3.0           4.1          1.3
72            6.3          2.5           4.9          1.5
20            5.4          3.4           1.7          0.2
16            5.4          3.9           1.3          0.4
147           6.5          3.0           5.2          2.0
140           6.7          3.1           5.6          2.4
113           5.7          2.5           5.0          2.0
23            5.1          3.3           1.7          0.5
12            4.8          3.0           1.4          0.1
68            6.2          2.2           4.5          1.5
39            5.1          3.4           1.5          0.2
130           7.4          2.8           6.1          1.9
34            4.9          3.1           1.5          0.1
112           6.8          3.0           5.5          2.1
55            5.7          2.8           4.5          1.3
25            5.0          3.0           1.6          0.2
82            5.8          2.7           3.9          1.2
48            5.3          3.7           1.5          0.2
81            5.5          2.4           3.7          1.0
77            6.7          3.0           5.0          1.7
100           6.3          3.3           6.0          2.5
80            5.5          2.4           3.8          1.1
14            5.8          4.0           1.2          0.2
131           7.9          3.8           6.4          2.0
86            6.7          3.1           4.7          1.5
118           7.7          2.6           6.9          2.3
56            6.3          3.3           4.7          1.6
54            6.5          2.8           4.6          1.5
97            6.2          2.9           4.3          1.3
143           6.8          3.2           5.9          2.3
125           7.2          3.2           6.0          1.8
98            5.1          2.5           3.0          1.1
73            6.1          2.8           4.7          1.2
144           6.7          3.3           5.7          2.5
21            5.1          3.7           1.5          0.4
3             4.6          3.1           1.5          0.2
59            5.2          2.7           3.9          1.4
119           6.0          2.2           5.0          1.5

In [30]:
le.fit(x_train,y_train)

LogisticRegression()

In [32]:
y_pred=le.predict(x_test)
y_pred

array([1, 1, 0, 0, 2, 2, 2, 0, 0, 1, 0, 2, 0, 2, 1, 0, 1, 0, 1, 2, 2, 1,
       0, 2, 1, 2, 1, 1, 1, 2, 2, 1, 1, 2, 0, 0, 1, 2], dtype=int64)

In [33]:
y_test

88     1
72     1
20     0
16     0
147    2
140    2
113    2
23     0
12     0
68     1
39     0
130    2
34     0
112    2
55     1
25     0
82     1
48     0
81     1
77     1
100    2
80     1
14     0
131    2
86     1
118    2
56     1
54     1
97     1
143    2
125    2
98     1
73     1
144    2
21     0
3      0
59     1
119    2
Name: species, dtype: int64

In [35]:
pred=le.predict([[5.84,3.05,3.76,1.20]])
pred

array([1], dtype=int64)

In [38]:
m=data.species==1
m

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: species, Length: 150, dtype: bool